.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  max-width: 75vw;
}

.left-button,
.right-button {
  position: fixed;
  font-size: 18px;
  padding: 20px;
  top: 0;
  /* transition: background-color 0.4s; */
  /* height: 30px; */
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  height: 100vh;
  text-align: center;
}
/* 
.left-button:hover,
.right-button:hover {
  background-color: white;
} */

.left-button {
  left: 0px;
}
.right-button {
  right: 0px;
}
