.pokemon-tile {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 140px;
  width: 140px;
  margin: 10px 10px;
  font-size: 18px;
  box-shadow: 0px 0px 10px black;
  border: 1px solid black;
  border-radius: 10px;
  transition: width 1s height 1s;
  position: relative;
}

.dex-num {
  font-size: 14px;
  position: absolute;
  right: 3px;
  top: 3px;
  background-color: white;
  border-radius: 25%;
  padding: 0px 2px;
  border: 1px solid black;
}

.pokemon-image {
  width: 120px;
  height: 120px;
  transform: translateY(5px);
}

.expanded {
  width: 80vw;
  height: 80vh;
}

.pokemon-name {
  color: white;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 2px 0px;
}
