.modal-container {
  /* min-width: 360px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  transition: z-index 0.4s, opacity 0.4s, width 0.4s, height 0.4s, top 0.4s,
    left 0.4s;
  will-change: z-index, opacity, width, height, top, left;
  background: var(--bg);
}

.modal {
  width: 95%;
  max-width: 570px;
  height: 80%;
  margin-top: 20px;
  border: 1px solid var(--dark);
  background-color: white;
  overflow-y: scroll;
}

.modal-container::after {
  content: "(click anywhere to close)";
  transform: translateY(-16px);
  font-size: 12px;
}

.modal-header {
  background-color: var(--dark);
  color: white;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.type {
  width: 80px;
  height: fit-content;
  text-align: center;
  font-weight: bold;
  letter-spacing: -1px;
  color: white;
  border: 1px solid var(--dark);
  margin: 5px;
}
.modal-content-1 {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: auto;
}

.sprite-container {
  display: flex;
  flex-direction: row;
}

.modal-content-1 img {
  width: 160px;
  margin: 10px -10px;
}

.type-container {
  display: flex;
  flex-direction: column;
}
