.navbar {
  height: 35px;
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: rgb(164, 1, 1);
  width: auto;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  box-shadow: 0px 2px 5px;
  z-index: 1;
}

#nav-title {
  font-size: 36px;
  margin-right: 45px;
  color: white;
}

#nav-icon-container-open,
#nav-icon-container-closed {
  margin-left: 5px;
  padding: 10px;
  border-radius: 50%;
  z-index: 100;
  transition: background-color 1s;
}

#nav-icon-container-open:hover {
  background-color: white;
  cursor: pointer;
}

#nav-icon-container-open #nav-icon {
  filter: invert(32%) sepia(36%) saturate(5061%) hue-rotate(268deg)
    brightness(102%) contrast(92%);
}

#nav-icon-container-closed:hover {
  background-color: black;
  cursor: pointer;
}

#nav-icon-container-closed #nav-icon {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
    brightness(102%) contrast(102%);
}

@media (max-width: 539px) {
  #nav-title {
    font-size: 24px;
    margin-right: 10px;
  }
}
