.stat-name,
.base-stat {
  width: 40px;
}
.base-stat {
  text-align: center;
  margin-right: 5px;
}

.base-stat-total-container {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
}

@media (max-width: 560px) {
  .base-stat-graph {
    width: 150px;
  }
  .stat-container {
    width: 50%;
    min-width: 220px;
  }
}
