.stat-container {
  margin-left: 25%;
}
.stat-line {
  display: flex;
}

.stat-name {
  width: 40px;
}

.base-stat {
  width: 60%;
  max-width: 130px;
  border: 1px solid black;
  padding: 2px;
  margin: 1px 0;
}
