.stat-container {
  width: 35%;
}

.stat-line {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.stat-name,
.base-stat {
  padding-top: 6px;
}

.base-stat-graph {
  width: 100px;
  display: inline;
  min-height: 100%;
  font-family: "Courier New", Courier, monospace;
  text-align: right;
  font-weight: bolder;
  border: 1px solid black;
  box-shadow: 0px 0px 3px black;
  padding: 2px;
  margin: 2px 0;

  -webkit-text-fill-color: black; /* Will override color (regardless of order) */
  -webkit-text-stroke: 1px white;
}
